rtl/vhdl/*.o
rtl/vhdl/work-obj*.cf
rtl/vhdl/e~*.o
rtl/vhdl/tb_*
!rtl/vhdl/tb_*.vhd

# Verilog simulation artifacts
rtl/verilog/tb.out
rtl/verilog/*.vcd

# Gowin synthesis output
rtl/fpga/tangnano9k/*.json
rtl/fpga/tangnano9k/*.rpt
rtl/fpga/tangnano9k/tangnano9k_gate.v
